---
Title: Cake.ResxConverter
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.ResxConverter allows <a href="https://github.com/jzeferino/ResxConverter">ResxConverter</a> use in a <a href="http://cakebuild.net/">Cake</a> script.
    </p>
</div>